*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.headerAndlist{
    width: 90%;
    margin:0 auto;
    margin-top: 30px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.headerAndlist ul{
    list-style: none;
    display: flex;
    font-size: 17px;
    font-weight: bold;

}
.headerAndlist ul li {
    margin: 3px;
    padding: 5px;

}
.border{
    width: 100%;
    border: 1px solid;
    opacity: 0.1;

}